name: Build

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
    types: [opened, synchronize, reopened]
jobs:
  build:
    name: Build binaries
    runs-on: windows-latest
    strategy:
      matrix:
        configuration:
          - Debug
          - Release
    steps:
      - uses: actions/checkout@v5

      - name: Configure CMake
        run: cmake -B ${{github.workspace}}/build -DHTML_UI_ENABLE_SAMPLE=1

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{matrix.configuration}}

      - name: Upload ${{matrix.configuration}} binaries
        uses: actions/upload-artifact@v5
        with:
          name: ${{matrix.configuration}} binaries
          path: |
            build/sample/${{matrix.configuration}}/html-ui-sample.exe
